<div style="text-align: center; align-items: center;">
    <h1 style="color: rgba(255, 255, 255, 0.712); padding-top: 1rem;"><img src="../../assets/Stripped_Logo.png" style="height: 3rem; margin-bottom: 0.7rem; margin-right: 1rem;"/>Sim Racing Fuel Calculator</h1>
</div>
<a href="https://sairyonodevs.in/" style="color: black;">
    <div style="position: absolute; border-radius: 100%; height: 150px; width: 150px; background-color: yellow; top: -75px; left: -75px;">
       <span><i class="fa fas fa-globe" style="position: absolute; bottom: 30.5px; right: 30.5px; font-size: 30px;"></i></span>
    </div>
</a>