<div (click)="toggle()">
    <div id='toggler' style="text-align: center; line-height: 3rem; color: rgba(255, 255, 255, 0.801);">
        Time Based Race
        <span style="display: inline-block; text-align: left; margin-left: 0.5rem; margin-right: 0.5rem;">
        <div class="material-switch pull-right">
            <input id="someSwitchOptionSuccess" name="someSwitchOption001" checked="true" type="checkbox"/>
            <label for="someSwitchOptionSuccess" class="btn-success"></label>
        </div>
        </span>
        Lap Based Race
    </div>
</div>
<div>
    <form [formGroup]="calcForm" (ngSubmit) = "onClickSubmit(calcForm.value)">
        <div class="form-group">
            <label for="fuelRate"><i class="fa fas fa-tint" style="margin-right: 1rem;"></i>Fuel Consumption Rate in Litres per Lap</label>
            <input type="number" class="form-control" step="0.1" id="fuelRate" required name="fuelRate" placeholder="Fuel Rate (L/lap)"  formControlName="fuelRate">
        </div>
        <div class="form-group">
            <label for="totalLaps"><i class="fa fas fa-flag-checkered" style="margin-right: 1rem;"></i>Total Number of Laps in the Race</label>
            <input type="number" class="form-control" step="1" id="totalLaps" required name="totalLaps" placeholder="Total Laps"  formControlName="totalLaps">
        </div>
        <div class="form-group">
            <label for="additionalLaps"><i class="fa fas fa-plus" style="margin-right: 1rem;"></i>Additional Laps for Backup Fuel</label>
            <input type="number" class="form-control" step="1" id="additionalLaps" required name="additionalLaps" placeholder="Additional Laps"  formControlName="additionalLaps">
        </div>
        <div style="color: rgba(255, 255, 255, 0.678); font-size: large;">
            <i class="fa fas fa-gas-pump" style="margin-right: 1rem;"></i>Fuel Required : <span style="color: white;"><b>{{fuelRequired}} L</b></span>
        </div>
       <button type="submit" class="btn btn-primary btn-aqua" style="font-size: 1rem;"><i class="fa fas fa-calculator" style="margin-right: 1rem;"></i>Do the math!</button>
    </form>
</div>