.form-group {
    color: #fff;
}

form > * {
    display: block;
    padding: 1rem 0;
}

.form-control {
    color: #fff;
    background: transparent;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.form-control:focus {
    border-color: none;
    box-shadow: rgba(0, 255, 255, 0.555) 0px 0px 2px 3px;
}

.form-control:valid {
    border-color: none;
    box-shadow: rgba(172, 255, 47, 0.555) 0px 0px 2px 3px;
}

.btn-aqua {
    width: 100%;
    background: linear-gradient(to right, #3fe0d0, #0080FF, #003152);
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: #121212;
    box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -12px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.521);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -12px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
